* {
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 1px solid white;
  background-color: #274c77;
}
header .logo {
  width: 8rem;
  cursor: pointer;
}
header .fuentes {
  font-size: 1.5rem;
  padding: 2rem;
  text-transform: uppercase;
}

footer {
  border-top: 1px solid white;
  background-color: #274c77;
}
footer .textFoot {
  --bs-text-opacity: 1;
  color: rgb(255, 255, 255);
}

/* Main */
main {
  margin: 20px;
}
main .carousel-control-next-icon {
  filter: invert(75%);
}

/* Nuestros Gatos */
.contenedorCards .tituloAdop {
  background-color: #274c77;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem;
}
.contenedorCards .titAdop {
  font-size: 1.5rem;
}
.contenedorCards .cards {
  width: 100%;
  margin: 5px;
}
.contenedorCards .flexCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 60%;
  margin: 10px;
}
.contenedorCards .colorBtn {
  background-color: #085f77;
  color: #FFF;
}
.contenedorCards .colorBtn:hover {
  background-color: rgba(138, 211, 233, 0.9450980392);
  transition: background-color 0.75s ease;
}

.tituloPrincipal {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.tituloImagen {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.explicacionTitulo {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 3rem;
  text-align: center;
  font-weight: bold;
}

.botonFormulario {
  background-color: #333;
  color: #FFF;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 10px;
  cursor: pointer;
}

/* Formulario Contacto */
form {
  margin-top: 20px;
}

.formulario {
  display: flex;
  justify-content: center;
  width: 100%;
}
.formulario .campos {
  display: block;
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
  margin-bottom: 10px;
}
.formulario label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}
.formulario .botonFormulario:hover {
  background-color: rgba(11, 69, 156, 0.9254901961);
  transition: background-color 0.35s ease;
}

.mapa {
  text-align: center;
  border: 1px solid black;
  margin-top: 10px;
}

/* Reservas */
.general .calendario {
  margin-top: 20px;
}
.general .disclaimer {
  margin-top: 20px;
  padding: 10px;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.formRes {
  display: flex;
  justify-content: center;
  width: 100%;
}
.formRes .ident {
  height: auto;
  margin: 20px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 30%;
  max-width: 300px;
}
.formRes .camposRes {
  display: block;
  width: 100%;
}
.formRes label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}
.formRes .botonFormulario:hover {
  background-color: rgba(11, 69, 156, 0.9254901961);
  transition: background-color 0.35s ease;
}

@media screen and (max-width: 480px) {
  .explicacionTitulo {
    text-transform: uppercase;
  }
}

/*# sourceMappingURL=estilo.css.map */
