/* Nuestros Gatos */
.contenedorCards {
    .tituloAdop {
        background-color: $background-color_1;
        color: $color_2;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        padding: 1rem;
    }

    .titAdop {
        font-size: 1.5rem;
    }

    .cards {
        width: 100%;
        margin: 5px;

        
    }

    .flexCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 60%;
    }

    .colorBtn {
        background-color: $background-color_2;
        color: $color_2;
    }
}