/* Formulario Contacto */
form {
    margin-top: 20px;
}

.formulario {
    display: flex;
    justify-content: center;
    width: 100%;

    .campos {
        display: block;
        width: 100%;
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 5px;
        font-size: 20px;
        margin-bottom: 10px;

    }


    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        color: $color_3;
    }

    
    .botonFormulario:hover {
        background-color: #0b459cec;
        transition: background-color 0.35s ease;
    }

}


.mapa {
    text-align: center;
    border: 1px solid black;
    margin-top: 10px;
}